<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<hawksama_performanceoptimization>
			<general>
                <enabled>1</enabled>
                <minify_html>1</minify_html>
				<requirejs_css>1</requirejs_css>
			</general>
			<movejs>
                <enabled>1</enabled>
			</movejs>
		</hawksama_performanceoptimization>
	</default>
</config>