<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="hawksama" translate="label" sortOrder="999">
			<label>Hawksama</label>
		</tab>
		<section id="hawksama_performanceoptimization" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Performance Optimization</label>
			<tab>hawksama</tab>
			<resource>Hawksama_PerformanceOptimization::config_hawksama_performanceoptimization</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
				<field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="minify_html" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Minify Html</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="requirejs_css" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>RequireJS CSS</label>
					<comment>Eliminates render-blocking CSS files and loads them using RequireJS.></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
